@page "/auth/login"
@using BlazingQuiz.Shared
@using BlazingQuiz.Web.Apis
@using BlazingQuiz.Web.Auth
@using System.Security.Claims

@layout EmptyLayout

@inject NavigationManager navigationManager
@inject IAuthApi AuthApi
@inject QuizAuthStateProvider QuizAuthStateProvider
@inject IAppState AppState

<div class="container">
    <div class="row vh-100">
        <div class="col-sm-4 mx-auto my-auto bg-white border shadow-lg">

            <div class="mt-3">
                <h1 class="h3">Login | Blazing Quiz</h1>
            </div>


            <hr />
            <EditForm Model="_model" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <label class="form-label">Username: </label>
                    <InputText @bind-Value="_model.Username" class="form-control" />
                    <ValidationMessage For="() => _model.Username" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password: </label>
                    <InputText type="password" @bind-Value="_model.Password" class="form-control" />
                    <ValidationMessage For="() => _model.Password" />
                </div>

                @if (_error != null)
                {
                    <div class="mb-3 bg-danger text-white p-2">
                        <p>@_error</p>
                    </div>
                }


                <div class="mb-3 d-flex justify-content-between">
                    @if (!_isLoading)
                    {
                        <a href="auth/register" class="btn btn-outline-primary">Register</a>
                        <button type="submit" class="btn btn-success">Login</button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-secondary">Logging In...</button>
                    }
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private LoginDto _model = new()
        {
            Username = "admin@mail.com",
            Password = "root123"
        };

    private bool _isLoading;
    private string? _error;

    protected override void OnInitialized()
    {
        if (QuizAuthStateProvider.IsLoggedIn)
        {
            // navigationManager.NavigateTo("/", replace: true);
            RedirectToHome(true);
        }
    }




    private async Task LoginAsync()
    {
        _error = null;
        _isLoading = true;

        try
        {

            AppState.ShowLoader("Logging In");
            var authResponse = await AuthApi.LoginAsync(_model);

            if (authResponse.HasError)
            {
                _error = authResponse.ErrorMessage;
                return;
            }

            var loggedInUser = authResponse.user;
            await QuizAuthStateProvider.SetLoginAsync(loggedInUser);

            RedirectToHome();


        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
        finally
        {
            AppState.HideLoader();
            _isLoading = false;
        }
    }

    private void RedirectToHome(bool replace = false)
    {
        var redirectTo = QuizAuthStateProvider.User.Role switch
        {
            nameof(UserRole.Student) => "/student/home",
            _ => "/"
        };

        navigationManager.NavigateTo(redirectTo);
    }
}


